/* ### Headings, Call-to-actions, Header Navigation */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
/* ### Body */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
/* Font */

.rlSmall {
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}
.rlBig {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}
.osSmall {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}
.osBig {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

body {
  font-size: 14px;
  position: relative;
  color: hsl(0, 0%, 100%);
  background-color: hsl(218, 28%, 13%);
}

header {
  background-color: hsl(218, 28%, 13%);
}

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  /* position: fixed; */
}

.navigasi .nav-item {
  width: 100%;
  margin-right: 50px;
  color: white;
  cursor: pointer;
}

#jumbotron {
  max-width: 750px;
  margin: 0px auto;
  text-align: center;
  box-sizing: border-box;
}

.jumbotron-content h1 {
  padding: 20px 100px 30px 100px;
}

.jumbotron-content p {
  padding: 0px 70px 30px 70px;
  letter-spacing: 0.2em;
}
.jumbotron-image {
  width: 100%;
}
.jumbotron-image img {
  width: 100%;
}
button {
  color: white;
  width: 270px;
  height: 50px;
  border-radius: 50px;
  border: 0px;
  background: hsl(198, 60%, 50%);
  cursor: pointer;
}

#grid-main {
  width: 800px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  box-sizing: border-box;
  /* justify-content: center; */
  /* align-items: center; */
  /* padding: 100px; */
  /* grid-column-start: inherit; */
}
.grid-image {
  width: 380px;
  text-align: center;
  padding: 2em;
}

#jumbotron2 {
  display: flex;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 2em;
}

.jumbotron2-content {
  max-width: 300px;
  padding: 7em;
}
.jumbotron2-content h1 {
  padding-bottom: 20px;
}
.jumbotron2-content p {
  padding-bottom: 20px;
}
.jumbotron2-content a {
  color: aqua;
  text-decoration: none;
}
.jumbotron2-href {
  border-bottom: 1px solid aqua;
  width: 140px;
  cursor: pointer;
  transition: 0.5s;
}
.jumbotron2-href:hover {
  box-shadow: -1px 1px 25px 1px aqua;
}

.jumbotron2-image {
  width: 615px;
}

.jumbotron2-image img {
  width: 100%;
}

#card {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.quote {
  margin-left: 150px;
  margin-top: 200px;
}
.card-group {
  top: -120px;
  position: relative;
  box-sizing: border-box;
  width: 500px;
  /* height: 250px; */
  color: hsl(0, 0%, 100%);
  background-color: hsl(216, 53%, 9%);
  padding: 3em;
  margin-right: 30px;
  box-shadow: -1px 1px 12px -4px hsl(0, 0%, 100%);
  cursor: pointer;
  transition: 0.5s;
}
.card-group h3 {
  padding-bottom: 20px;
}
.card-group:hover {
  box-shadow: -1px 1px 12px -4px red;
}
.card-group-profile {
  display: flex;
  align-items: center;
}

.profile-image img {
  border-radius: 50%;
}
.profile-image img {
  width: 50px;
}
.profile {
  margin-left: 20px;
}

#footer {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  width: 100%;
  background-color: hsl(216, 53%, 9%);
  box-sizing: border-box;
  position: relative;
  padding-top: 50px;
}
.footer-logo {
  /* width: 300px; */
  display: flex;
  flex-direction: column;
  padding: 20px;
  /* background: red; */
}
/* .footer-item {
  width: 100%;
} */
.footer-item img {
  padding-bottom: 20px;
}
.footer-item2 {
  display: flex;
  width: 350px;
}
.footer-item2 span {
  padding-left: 20px;
}
.footer-contact {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}

.footer-contact-container1 {
  padding-bottom: 20px;
}

.footer-contact span {
  padding-left: 10px;
}
.footer-service {
  box-sizing: border-box;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.footer-service span {
  margin: 0px 40px 20px 0px;
}
.footer-icon i img {
  width: 20px;
  margin-left: 20px;
}

.absolute-card {
  position: absolute;
  top: -140px;
  /* left: 50%; */
  /* right: 50%; */
  left: 0;
  right: 0;
  margin: auto;
  max-width: 750px;
  max-height: 200px;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background: hsl(219, 30%, 18%);
  text-align: center;
  border-radius: 10px;
}
.absolute-content h1 {
  margin-bottom: 10px;
}
.absolute-content p {
  margin-bottom: 20px;
  padding: 0 30px;
}
.absolute-component {
  padding-bottom: 20px;
}
input {
  max-width: 450px;
  border-radius: 50px;
  height: 50px;
  padding-left: 20px;
}
#btn {
  width: 200px;
}
@media (max-width: 800px) {
  #grid-main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .grid-image {
    max-width: 330px;
  }
  #jumbotron2 {
    flex-direction: column;
    max-width: 100%;
  }
  .jumbotron2-image {
    width: 100%;
    margin: auto;
  }
  .quote {
    margin: -0px;
  }
  #card {
    /* margin-top: -20px; */
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    margin-bottom: 400px;
    /* align-items: center; */
  }
  .card-group {
    margin-bottom: 20px;
  }
  #footer {
    flex-direction: column;
  }
  .footer-contact {
    font-family: "open sans";
    font-weight: 700;
  }
  .footer-service {
    font-family: "open sans";
    font-weight: 700;
    grid-template-columns: 1fr;
  }
  .absolute-card {
    max-height: 400px;
    top: -300px;
  }
  input {
    margin-bottom: 20px;
  }
  .footer-icon {
    margin-top: 10px;
    text-align: center;
  }
}
